@model OriginDTO
@{
    ViewData["Icon"] = "fa fa-paper-plane";

    if (Model.IdOrigin.HasValue)
    {
        ViewData["Title"] = "Edit Origin";
    }
    else
    {
        ViewData["Title"] = "Add Origin";
    }
}

<div>
    <span class="h2"><i class="@ViewData["Icon"] mr-2 mb-4"></i>@ViewData["Title"]</span>
</div>


<form asp-action="Edit" asp-controller="Origins" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="IdOrigin" />
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" required maxlength="50" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Subject"></label>
        <input class="form-control" asp-for="Subject" required maxlength="50" />
        <span asp-validation-for="Subject"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body"></label>
        <textarea class="form-control" asp-for="Body" rows="5"></textarea>
        <span asp-validation-for="Body"></span>
    </div>
    <div class="form-group">
        <label asp-for="Signature"></label>
        <textarea class="form-control" asp-for="Signature" rows="5"></textarea>
        <span asp-validation-for="Signature"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdMailAccount"></label>
        <select class="form-control" asp-for="IdMailAccount" asp-items="Model.MailAccounts" required></select>
        <span asp-validation-for="IdMailAccount"></span>
    </div>
    <div class="text-right">
        <a class="btn btn-danger" asp-action="Index" asp-controller="Origins"><i class="fa fa-save mr-2"></i>Cancel</a>
        <button class="btn btn-success" type="submit"><i class="fa fa-save mr-2"></i>Save</button>
    </div>
</form>