@model MailAccountDTO
@{
    ViewData["Title"] = "Mail Account Info";
    ViewData["Icon"] = "fa fa-mail-bulk";
}

<div>
    <span class="h2"><i class="@ViewData["Icon"] mr-2 mb-4"></i>@ViewData["Title"]</span>
    <a class="btn btn-primary float-right" asp-action="Edit" asp-route-id="@Model.IdMailAccount"><i class="fa fa-edit mr-2"></i>Edit</a>
    <a class="btn btn-secondary float-right" asp-action="Index"><i class="fa fa-backward mr-2"></i>Back</a>
</div>

<form asp-action="Edit" asp-controller="MailAccounts" method="post">
    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" required maxlength="50" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Mail"></label>
        <input class="form-control" asp-for="Mail" maxlength="50" type="email" readonly />
        <span asp-validation-for="Mail"></span>
    </div>
    <div class="form-group">
        <label asp-for="Server"></label>
        <input class="form-control" asp-for="Server" required maxlength="50" readonly />
        <span asp-validation-for="Server"></span>
    </div>
    <div class="form-group">
        <label asp-for="Port"></label>
        <input class="form-control" asp-for="Port" maxlength="50" type="number" min="0" max="65500" readonly/>
        <span asp-validation-for="Port"></span>
    </div>
    <div class="form-group">
        <label asp-for="User"></label>
        <input class="form-control" asp-for="User" required maxlength="50" readonly />
        <span asp-validation-for="User"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" required maxlength="50" type="password" readonly />
    </div>
    <div class="form-group">
        <input asp-for="UseSSL" type="checkbox" readonly />
        <label asp-for="UseSSL"></label>
    </div>

</form>

